<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.viewActions"> 
	 <viewContribution
         id="org.eclipse.mylyn.java.ui.markers.breakpoints.contribution"
         targetID="org.eclipse.debug.ui.BreakpointView">
      <action
            class="org.eclipse.mylyn.context.breakpoints.ui.FocusBreakpointsViewAction"
            disabledIcon="icons/elcl16/focus-disabled.gif"
            enablesFor="*"
            icon="icons/elcl16/focus.gif"
            id="org.eclipse.mylyn.java.ui.actions.focus.markers.breakpoints"
            label="%FocusBreakpointsViewAction.label"
            menubarPath="mylyn"
            style="toggle"
            toolbarPath="mylyn"
            tooltip="%FocusBreakpointsViewAction.tooltip">
      </action>
   	</viewContribution> 
   </extension>
    <extension
       id="org.eclipse.mylyn.context.breakpoints"
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          id="org.eclipse.mylyn.context.breakpoints.labelProvider"
          labelProvider="org.eclipse.debug.internal.ui.views.breakpoints.BreakpointsLabelProvider"
          name="Breakpoints Labelprovider">
       <triggerPoints>
       </triggerPoints>
    </navigatorContent>
 </extension>
 <extension
       point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
          viewerId="org.eclipse.mylyn.context.ui.navigator.context">
       <includes>
          <contentExtension
                pattern="org.eclipse.mylyn.context.breakpoints.labelProvider">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
</plugin>
